<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TRIP</title>
    </head>
    <body>
        <h1><%= trip.name %></h1>

        <p><%= packingList %></p>

        <% for (let i = 0; i < countryTip.length; i++) { %>
        <p><%= countryTip%></p>
        <% } %>
    </body>
</html>
