<form method="post" action="/form2">
    <div>
        <label for="startDate">Start Date</label>
        <input type="date" name="startDate" id="startDate" />
    </div>
    <div>
        <label for="endDate">End Date</label>
        <input type="date" name="endDate" id="endDate" />
    </div>
    <div>
        <label for="groupSize">Number of People</label>
        <input type="number" name="groupSize" id="groupSize" />
    </div>
    <div>
        <input type="radio" value="Accessibility" name="groupType" id="Accessibility" />
        <label for="Accessibility">Accessibility</label>
        <input type="radio" value="Elderly" name="groupType" id="Elderly" />
        <label for="Elderly">Elderly</label>
        <input type="radio" value="With Kids" name="groupType" id="With Kids" />
        <label for="With Kids">With Kids</label>
        <input type="radio" value="Friends" name="groupType" id="Friends" />
        <label for="Friends">Friends</label>
        <input type="radio" value="Family" name="groupType" id="Family" />
        <label for="Family">Family</label>
    </div>

    <input type="submit" value="Submit" />
</form>
