<form method="post" action="/form3">
    <div>
        <label for="budget">Budget</label>
        <input type="number" name="budget" id="budget" />
    </div>

    <input type="submit" value="Submit" />
</form>
